*{
    margin: 0;
    padding: 0;
}
pre{
    color: red;
    font-size: 30px;
    background: #000;
    font-weight: 600;
}
body{
    background: pink;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}